<section class="login-form">
  <form fxLayout="column" (submit)="onSubmit()" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm">
    <mat-form-field>
      <input matInput placeholder="Email" type="Your email" formControlName="email"/>
      <mat-hint>Please enter valid email</mat-hint>
      <mat-error>Invalid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Your password" formControlName="password"/>
      <mat-hint>Please Enter Password</mat-hint>
      <mat-error>Password missing</mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Submit</button>
  </form>
</section>