<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)=onStartTraining(f) #f="ngForm">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">Time to work out</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-select placeholder="Choose Exercise" ngModel name="exercise">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{exercise.name}}</mat-option>
      </mat-select>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" [disabled]="f.invalid">Start</button>
    </mat-card-actions>
  </mat-card>
</form>
</section>
