<div class="signup-form">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your Email" email required ngModel name="email" #emailInput="ngModel" />
      <mat-error *ngIf="emailInput.hasError('required')">Email is Empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is Invalid</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Password should be atleast 4 characters length">
      <input required type="password" matInput placeholder="Your Password" ngModel name="password" #pwdInput="ngModel" />
      <mat-hint align="end">{{ pwdInput.value?.length}}/6</mat-hint>
      <mat-error *ngIf="pwdInput.hasError('required')">Password should be 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Your birthdate" ngModel name="birthdate" required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>
    <mat-checkbox ngModel name="agree" labelPosition="before" color="primary" required>Agree to the terms and conditions</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</div>