<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
                <mat-list-item>
                        <button mat-icon-button>
                                <mat-icon>face</mat-icon>
                             </button>
                        <a matLine href="/signup">Signup</a>
                     </mat-list-item>

                     <mat-list-item>
                            <button mat-icon-button>
                                    <mat-icon>navigate_next</mat-icon>
                                 </button>
                            <a matLine href="/login">Login</a>
                         </mat-list-item>
                         <mat-list-item>
                                <button mat-icon-button>
                                        <mat-icon>launch</mat-icon>
                                     </button>
                                <a matLine href="/training">Training</a>
                             </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-sm><button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon></button>
            </div>
            <div><a routerLink="/">LOGO</a></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul class="navigation-items" fxLayout fxLayoutGap="10px">
                    <li><a routerLink="/signup">Signup</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/training">Training</a></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
